{% extends "MediaManagerBundle::layout.html.twig" %}
{% block title_h1 %} Media Manager Upload{% endblock %}
{% block body %}
<a href="{{path('media_manager_homepage')}}?iframe&association=true" rel="Media Library" title="Media Library">Back to Media list</a><br/>
<script type="text/javascript">
	$(document).ready(function() {
	  $('#media_source_file').uploadify({
	    'uploader'  : '{{asset("bundles/mediamanager/jquery-uploadify/uploadify.swf")}}',
	    'script'    : '{{asset("bundles/mediamanager/jquery-uploadify/uploadify.php")}}',
	    'cancelImg' : '{{asset("bundles/mediamanager/jquery-uploadify/cancel.png")}}',
	    'folder'    : '{{asset("uploads/")}}',
	    'auto'      : true,
	    'multi'     : {% if media.id %} false {% else %} true {% endif %},
        'fileExt'     : '*.jpg;*.gif;*.png',
        'fileDesc'    : 'Image Files',
	    'queueSizeLimit' : 10,
	    'onComplete': function(event, ID, fileObj, response, data) {
	           {% if media.id %}
	               $('#list_images').html('');
	            {% endif %}
	    	    $('<img src="'+response+'" width="100" height="100"/>').appendTo('#list_images'); 
	    	    $('<input type="hidden" name="images[]" value="'+response+'"/>').appendTo('#list_images');
		 },
		 'onError'  : function(event,ID,fileObj,errorObj) {
			 console.log(errorObj);
		 }
	  });
	});
</script>

<form action="{{path('media_manager_save_media')}}" method="post">
    <div class="form">
        <fieldset>
            <legend>Details</legend>
            {{ form_field(form) }}
            <br/> Limit size for uploads : 5Mb
             {% if media.id %}
                <input type="hidden" name="media_id" value="{{media.id}}" />
              {% endif %}
            <div id="list_images">
                {% if media.id %}
                    <img src="{{path('media_manager_view_media', {'media_id' : media.id})}}" width="100" height="100" id="preview"/>
                {% endif %}
            </div>
        </fieldset>
    <input type="submit" value="Submit"/>
    
</div>
</form>

{%if media.id %}
<h2>Orginal Format -- Crop your image</h2>
<form action="{{path('media_manager_crop_media')}}" method="post">
    <div class="crop-block">
        <img src="{{path('media_manager_view_media_original', {'media_id' : media.id})}}}}" id="imageCrop" />
        <input type="hidden" id="x" name="x" />
        <input type="hidden" id="y" name="y" />
        <input type="hidden" id="w" name="w" />
        <input type="hidden" id="h" name="h" />    
        <input type="hidden" id="media_id" name="media_id" value="{{media.id}}" />    
    </div>
    <input type="submit" name="apply" value="Apply transformation" />
</form>
{%endif%}

{% endblock %}
